* text=auto

AUTHORS text
CHANGELOG text
CHANGES text
CONTRIBUTING text
COPYING text
INSTALL text
LICENSE text
README* text

*.txt text
*.doc diff=astextplain
*.docx diff=astextplain
*.dot diff=astextplain
*.pdf diff=astextplain
*.rtf diff=astextplain
*.markdown text diff=markdown
*.md text diff=markdown

*.in text eol=lf
*.sh text eol=lf diff=bash
*.bash text eol=lf diff=bash
*.zsh text eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

*.c text diff=cpp
*.cpp text diff=cpp
*.cxx text diff=cpp
*.h text diff=cpp
*.hpp text diff=cpp
*.hxx text diff=cpp
*.inc text diff=cpp

*.csr text -diff eol=lf
*.crt text -diff eol=lf
*.pem text -diff eol=lf
*.cer binary
*.der binary
*.pfx binary
*.p12 binary

*.asm text
*.pl text diff=perl
*.rb text eol=lf diff=ruby
*.py text eol=lf diff=python
*.php text diff=php
*.java text diff=java
*.lua text
*.go text diff=golang
*.rs text diff=rust

*.js text
*.cjs text
*.ts text
*.tsx text
*.css text diff=css
*.scss text diff=css
*.less text
*.htm text diff=html
*.html text diff=html
*.xhtml text diff=html

*.service text eol=lf
*.pp text
*.erb text eol=lf
*.epp text eol=lf

*.rc text eol=lf
*.ini text
*.toml text
*.yaml text
*.yml text
*.xml text
*.json text

*.cfg text
*.conf text
*.config text

Makefile text
makefile text
Gemfile text
Rakefile text
Dockerfile text

.editorconfig text
.globalconfig text

*.cs text diff=csharp
*.resx text
*.fs text
*.fsx text
*.props text
*.targets text
*.cshtml text diff=html
*.sln text merge=union
*.csproj text merge=union

*.tf text
*.tfrc text
*.hcl text
*.tftpl text eol=lf
*.lock.hcl text -diff

*.patch -text

package-lock.json text -diff
*.lock text -diff

*.exe binary
*.dll binary
*.pdb binary
*.so binary
*.dylib binary
*.pyc binary

*.bmp binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.tif binary
*.tiff binary
*.ico binary
*.eps binary
*.psd binary
*.webp binary
*.svg text

*.7z binary
*.br binary
*.gz binary
*.bz2 binary
*.rar binary
*.tar binary
*.tgz binary
*.zip binary
*.jar binary
*.apk binary

*.ttf binary
*.woff binary
*.woff2 binary

.gitattributes text export-ignore
.gitignore text export-ignore
.gitkeep text export-ignore
